:root {
    --background-dark: #ffffff;
    --text-light: #000000;
    --header-dark: #ffffff;
    --button-dark: #000f9f;
    --button-hover-dark: #030f8a;
}

body {
    background-color: var(--background-dark);
    color: var(--text-light);
    font-family: "London Tube", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--header-dark);
    color: var(--text-light);
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid var(--button-dark);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: var(--button-dark);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-dark);
}

footer {
    background-color: var(--header-dark);
    color: var(--text-light);
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
